#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "payment-success"
}

/* Col Left */
.payment-success {
    
    grid-area: payment-success;
    background: linear-gradient(142deg, #021C4D 0%, #0541B3 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-success .bank-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.1;
}


/* .payment-success .bank-logo-absolute-2 {
    background-color: red;
    top: auto;
    bottom:0 ;
    transform: none;
} */

/* .payment-col-left .bank-logo-absolute {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
    opacity: 0.1;
} */